.vscode/**
.vscode-test/**
src/**
!out/**
.gitignore
**/.git/**
**/.DS_Store
**/*.ts
!**/tsconfig.json
**/node_modules/**
**/test/**
**/samples/**
**/coverage/**
**/.eslintrc.json
**/yarn.lock
**/tslint.json
**/*.vsce
**/vsc-extension-quickstart.md
**/webpack.config.js
**/.eslintrc.js
**/*.map
**/*.tsbuildinfo
README.md
CHANGELOG.md
LICENSE
images/logo.svg
